*{
    margin: 0;
    padding: 0;
}
.title{
    height: 64px;
    width: 100%;
    background: rgba(32,44,70,0.37);
}
.back{
    border: none;
    height: 84px;
    line-height: 84px;
    width: 100px;
    font-size: 16px;
    background: none;
    text-align: center
    margin: 20 auto;
}
.content{
    font-size: 16px;
    line-height: 26px;
    padding: 0 10px;
    background: aliceblue;
    height: 300px;
}
.btn{
    display: block;
    border: none;
    height: 44px;
    line-height: 44px;
    width: 60%;
    font-size: 16px;
    background: none;
    text-align: center;
    background: #666666;
    margin: 16px auto;
    text-align: center;
}